body {
    background-image: url('https://i.ibb.co/9VYv3M7/sq-image.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

p {
    color: rgb(102, 98, 98);
    font-size: 80%;
}

.sidenav {
    height: 50%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(216, 213, 213);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
}

.sidenav a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: block;
    background-color: rgb(77, 105, 102);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.button {
    background-color: rgb(77, 105, 102);
    border: none;
    color: rgb(8, 8, 8);
    padding: 15px 32px;
    font-size: 16px;
}

.button:hover {
    background-color: #303a39;
}

table {
    table-layout: fixed;
}
